@page "/products/create"

<PageTitle>Create product</PageTitle>

<Title Level="2">Create product</Title>

<Form Loading="loading" Model="model"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      ValidateMode="@FormValidateMode.Rules"
      ValidateOnChange="true">
    <FormItem Required Rules="NameRules" Label="Name">
        <Input @bind-Value="@context.Name" />
    </FormItem>
    <FormItem Required Rules="PriceRules" Label="Price">
        <AntDesign.InputNumber @bind-Value="@context.Price" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code {
    FormValidationRule[] NameRules = new[]
    {
        new FormValidationRule() { Required = true }
    };

    FormValidationRule[] PriceRules = new[]
    {
        new FormValidationRule() { Required = true, Min = 0, Type = FormFieldType.Number }
    };
}